# Project information
site_name: Haha 블로그
site_url: https://ndy2.github.io//Haha-Blog/
edit_uri: blob/main/docs/
site_author: Haha
site_description: >-
  안녕하세요! 좋은 설계와 객체지향 방법론에 관심이 많은 미래의 백엔드 개발자 남득윤입니다.
  잘 부탁드립니다!

# Repository
repo_name: ndy2/Haha-Blog
repo_url: https://github.com/ndy2/Haha-Blog

copyright: Copyright &copy; 2022 - 2023 ndy2

theme:
  name: 'material'
  font:
   text: Roboto
   code: Roboto Mono
  favicon: assets/favicon.ico
  custom_dir: material/overrides
  features:
    - content.code.copy
    - content.action.view
    - navigation.footer
  admonition:
   note: octicons/tag-16
   abstract: octicons/checklist-16
   info: octicons/info-16
   tip: octicons/squirrel-16
   success: octicons/check-16
   question: octicons/question-16
   warning: octicons/alert-16
   failure: octicons/x-circle-16
   danger: octicons/zap-16
   bug: octicons/bug-16
   example: octicons/beaker-16
   quote: octicons/quote-16
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Extensions
markdown_extensions:
  - footnotes
  - md_in_html
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - material/overrides/.icons
  - toc:
      permalink: true

plugins:
  - macros
  - search
  - glightbox
  - git-revision-date-localized:
      type: date
      timezone: Asia/Seoul
      enable_creation_date: true
  - charts
  - exclude:
      glob:
        - "*.excalidraw.md"
        - "til/til-template.md"
  - kroki:
      FencePrefix: ''

extra_javascript:
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6

# Page tree
nav:
  - Home: index.md
  - 블로그 팁:
      - 들어가기: bloggingtips/getting-started.md
      - 느낀 점: bloggingtips/feelings.md
  - 분야 별 학습:
      - 자바:
          -  String: study/java/string.md
          -  NIO: study/java/nio.md
          -  동시성 - synchrozied: study/java/synchronized.md
      - 코틀린:
          -  코틀린 소개, 특징, 철학: study/kotlin/introduction/index.md
          -  object 키워드: study/kotlin/object-keyword/index.md
          -  람다 변수 캡쳐링: study/kotlin/lambda/variable-capturing.md
      - 아키텍처:
          -  MSA 장단점: study/architecture/msa-pros-cons.md
          -  Hexagonal Architecture: study/architecture/hexagonal-architecture/index.md
          -  Resilient Pattern:  study/architecture/resilient-pattern/index.md
      - 운영체제:
          -  프로세스 vs 쓰레드: study/os/process-vs-thread/index.md
          -  데드락: study/os/deadlock/index.md
          -  가상메모리 기초: study/os/memory-management/virtual-memory-1.md
          -  가상메모리 관리: study/os/memory-management/virtual-memory-2.md
      - 데이터베이스:
          -  데이터베이스 기본 용어: study/database/basic-terminologies/index.md
          -  관계형 데이터베이스: study/database/rdb/index.md
          -  SQL join: study/database/join/index.md
          -  데이터베이스 인덱스: study/database/db-index/index.md
          -  데이터베이스 이상현상: study/database/anomaly/index.md
          -  데이터베이스 FD: study/database/fd/index.md
          -  데이터베이스 정규화: 
              - 개요: study/database/normalization/db-normalization.md
              - 1NF, 2NF: study/database/normalization/db-normalization-1nf-2nf.md
              - 3NF, BCNF: study/database/normalization/db-normalization-3nf-bcnf.md

          -  트랜잭션 ACID: study/database/transaction-acid/index.md
          -  OLAP: study/database/olap/index.md
          -  클러스터링, 리플리케이션, 샤딩: study/database/clustering-replication-sharding/index.md
          -  DBCP: study/database/dbcp/index.md 
          -  MySQL 실행계획 연습: study/database/mysql-execution-plan/index.md 
      - 네트워크:
          -  데이터 링크 계층:
              - ARP, 주소 결정 프로토콜: study/network/layer2/arp/index.md
          -  네트워크 (인터넷) 계층:
              - 네트워크 계층, 인터넷: study/network/layer3/introduction/index.md
              - 라우터: study/network/layer3/router/index.md
              - IPv4: study/network/layer3/ip/index.md
              - ICMP: study/network/layer3/icmp/index.md
          -  전송 계층:
              - TCP vs UDP: study/network/layer4/tcp-vs-udp/index.md
              - TCP 흐름제어: study/network/layer4/tcp-flow-control/index.md
              - TCP 혼잡제어: study/network/layer4/tcp-congestion-control/index.md
          -  응용 계층:
              -  HTTP 버전별 특징: study/network/layer7/http-versions/index.md
              -  HTTPS: study/network/layer7/https/index.md
              -  DNS: study/network/layer7/dns/index.md
      - 웹 개발:
          -  쿠키 세션 토큰: study/web/cookie-session-token/index.md
  - 기술 서적 정리/리뷰:
      - 책!: books/index.md
      - 클린 애자일: books/clean-agile/clean-agile.md
      - 스프링 부트로 개발하는 MSA 컴포넌트:
          - 리뷰: books/springboot-msa-component/README.md
          - 1장 마이크로서비스 아키텍처: books/springboot-msa-component/ch01-msa.md
          - 2장 프레임워크와 스프링부트: books/springboot-msa-component/ch02-framework-and-springboot.md
          - 3장 스프링 애플리케이션 기본: books/springboot-msa-component/ch03-springboot-basic.md
          - 4장 스프링 웹 MVC 개요:
              - 들어가기: books/springboot-msa-component/ch04-spring-web-mvc-basic.md
              - 파트 1 HTTP: books/springboot-msa-component/ch04-sec01-http.md
              - 파트 2 서블릿과 MVC: books/springboot-msa-component/ch04-sec02-servlet-and-mvc.md
          - 5장 스프링 MVC를 이용한 REST-API 개발: books/springboot-msa-component/ch05-spring-web-mvc-with-restapi.md
          - 6장 웹 애플리케이션 서버 구축하기:
              - 들어가기: books/springboot-msa-component/ch06-build-web-application-server.md
              - EnableXXX의 동작과 빈 설정 모듈화: books/springboot-msa-component/ch06-sec00-@EnableXXX-and-bean-modulerlize.md
              - 웹 애플리케이션 설정 메커니즘: books/springboot-msa-component/ch06-sec01-webapplication-configure-mechanism.md
              - DispatcherServlet: books/springboot-msa-component/ch06-sec03-dispatcher-servlet.md
          - 7장 스프링 AOP와 테스트, 자동 설정 원리:
              - 들어가기: books/springboot-msa-component/ch07-spring-aop-and-test-and-autoconfiguration.md
              - 스프링 AOP: books/springboot-msa-component/ch07-sec01-spring-aop.md
              - 스프링 부트 자동 설정: books/springboot-msa-component/ch07-sec03-autoconfiguration.md
          - 8장 데이터 영속성:
              - 들어가기: books/springboot-msa-component/ch08-data-persistence.md
              - JPA 장점과 단점: books/springboot-msa-component/ch08-sec01-jpa-pros-and-cons.md
              - 엔티티 매니저와 영속성 컨텍스트: books/springboot-msa-component/ch08-sec08-entitymanager-and-persistence-context.md
              - Transactional을 사용할 때 주의 사항: books/springboot-msa-component/ch08-sec07-warning-on-@Transactional.md
              - OSIV: books/springboot-msa-component/ch08-sec11-osiv.md
          - 9장 애플리케이션 통합 REST-API :
              - 들어가기: books/springboot-msa-component/ch09-application-integration-restapi.md
              - RestTemplate 클래스 : books/springboot-msa-component/ch09-sec01-resttemplate.md
              - WebClient 클래스 : books/springboot-msa-component/ch09-sec02-webclient.md
          - 10장 레디스와 스프링 캐시:
              - 레디스 소개 : books/springboot-msa-component/ch10-sec01-redis-introduction.md
              - 레디스 HA : books/springboot-msa-component/ch10-sec01-redis-high-availability.md
              - 레디스 직렬화 설정 : books/springboot-msa-component/ch10-sec04-redis-serializer.md
              - 레디스의 다양한 활용: books/springboot-msa-component/ch10-sec05-redis-usages.md
          - 11장 스프링 스케쥴링 테스크: books/springboot-msa-component/ch11-sec03-batch-architecture.md
          - 12장 스프링 이벤트:
              - 들어가기 : books/springboot-msa-component/ch12-spring-event/index.md
              - 스프링 이벤트 소개 : books/springboot-msa-component/ch12-spring-event/sec01-introduction.md
              - ApplicationEvent 와 ApplicationListner 상속 : books/springboot-msa-component/ch12-spring-event/sec02-old-style.md
              - POJO 이벤트 클래스와 @EventListener : books/springboot-msa-component/ch12-spring-event/sec03-new-style.md
              - 비동기 이벤트 처리 : books/springboot-msa-component/ch12-spring-event/sec04-async-event.md
              - 스프링이 발행하는 이벤트 : books/springboot-msa-component/ch12-spring-event/sec05-spring-event.md
  - TIL: til/getting-started.md
  - 북마크: bookmarks/bookmarks.md