# Project information
site_name: Haha 블로그
site_url: https://ndy2.github.io//Haha-Blog/
site_author: Haha
site_description: >-
  안녕하세요! 좋은 설계와 객체지향 방법론에 관심이 많은 미래의 백엔드 개발자 남득윤입니다.
  잘 부탁드립니다.

# Repository
repo_name: ndy2/Haha-Blog
repo_url: https://github.com/ndy2/Haha-Blog

copyright: Copyright &copy; 2022 - 2022 ndy2

theme:
    name: 'material'
    font:
      text: Roboto
      code: Roboto Mono
    favicon: assets/favicon.ico
    icon:
      logo: library_books
      

# Extensions
markdown_extensions:
  - footnotes
  # - attr_list
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.superfences
  # - pymdownx.details
  # - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  - toc:
      permalink: true

plugins:
  - search
  - roamlinks 
  - mermaid2

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/mermaid/dist/mermaid.min.js 

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ndy2
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/득윤-남-b9bb79229/