# Project information
site_name: Haha 블로그
site_url: https://ndy2.github.io//Haha-Blog/
edit_uri: tree/main/docs/
site_author: Haha
site_description: >-
  안녕하세요! 좋은 설계와 객체지향 방법론에 관심이 많은 미래의 백엔드 개발자 남득윤입니다.
  잘 부탁드립니다!

# Repository
repo_name: ndy2/Haha-Blog
repo_url: https://github.com/ndy2/Haha-Blog

copyright: Copyright &copy; 2022 - 2023 ndy2

theme:
  name: 'material'
  font:
   text: Roboto
   code: Roboto Mono
  favicon: assets/favicon.ico
  custom_dir: resources/material/overrides
  features:
    - content.code.copy
    - content.action.view
    - navigation.footer
    - navigation.tabs
    - navigation.sections
    - content.code.annotate 
  admonition:
   note: octicons/tag-16
   abstract: octicons/checklist-16
   info: octicons/info-16
   tip: octicons/squirrel-16
   success: octicons/check-16
   question: octicons/question-16
   warning: octicons/alert-16
   failure: octicons/x-circle-16
   danger: octicons/zap-16
   bug: octicons/bug-16
   example: octicons/beaker-16
   quote: octicons/quote-16
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Extensions
markdown_extensions:
  - footnotes
  - md_in_html
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: python
          class: python
          validator: !!python/name:markdown_exec.validator
          format: !!python/name:markdown_exec.formatter
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - resources/material/overrides/.icons
  - toc:
      permalink: true

plugins:
  - obsidian-support
  - awesome-pages:
      collapse_single_pages: true
  - blogging:
      locale: ko_kr
      dirs: [categories]
      template: resources/blogging-plugin/custom-blog.html
      categories:
        - name: algorithm
          dirs: [study/algorithm]
          template: resources/blogging-plugin/custom-blog.html
        - name: architecture
          dirs: [study/architecture]
          template: resources/blogging-plugin/custom-blog.html
        - name: collaborate
          dirs: [study/dev-general/collaborate]
          template: resources/blogging-plugin/custom-blog.html
        - name: data-structure
          dirs: [study/data-structure]
          template: resources/blogging-plugin/custom-blog.html
        - name: database
          dirs: [study/database]
          template: resources/blogging-plugin/custom-blog.html
        - name: java
          dirs: [study/java]
          template: resources/blogging-plugin/custom-blog.html
        - name: kotlin
          dirs: [study/kotlin]
          template: resources/blogging-plugin/custom-blog.html
        - name: network
          dirs: [study/network]
          template: resources/blogging-plugin/custom-blog.html
        - name: os
          dirs: [study/os]
          template: resources/blogging-plugin/custom-blog.html
        - name: spring
          dirs: [study/spring]
          template: resources/blogging-plugin/custom-blog.html
        - name: uml
          dirs: [study/dev-general/uml]
          template: resources/blogging-plugin/custom-blog.html
        - name: web
          dirs: [study/web]
          template: resources/blogging-plugin/custom-blog.html
        - name: blog
          dirs: [bloggingtips]
          template: resources/blogging-plugin/custom-blog.html
        - name: avalon-chat
          dirs: [project/kakaotalk-clone-coding]
          template: resources/blogging-plugin/custom-blog.html
        - name: project
          dirs: [project/common]
          template: resources/blogging-plugin/custom-blog.html
        - name: til
          dirs: [til]
          template: resources/blogging-plugin/custom-blog.html
      features:
        tags: 
          insert: top
          index_page: tags.md
      theme:
        name: card
  - macros:
      module_name: 'resources/macro/main'
  - search
  - glightbox
  - gen-files:
      scripts:
        - resources/gen-pages/archive.md.py
  - git-revision-date-localized:
      type: date
      timezone: Asia/Seoul
      enable_creation_date: true
      fallback_to_build_date: true
  - charts
  - exclude:
      glob:
        - "*.excalidraw.md"
        - "til/til-template.md"
  - kroki:
      FencePrefix: 'kroki-'

extra_javascript:
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
