#box {
    width:100px; height:100px;
    border:solid red;
    border-width:0 10px;
}

.rich-link-card {
  border:2px solid grey;
  margin: 20px 0;
  width: 100%;
  display: flex;
  text-decoration: none;
  background-color: white
}

.rich-link-card-container {
  position: relative;
}

.rich-link-card-container::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background-color: white
  bottom: -10px;
}

.rich-link-card .rich-link-image-container {
  height: 100px;
  width: 35%;
  min-width: 120px;
  overflow: hidden;
  border-right: 2px solid grey;
}

.rich-link-card .rich-link-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.rich-link-card .rich-link-card-text {
  padding: 4px;
  width: 75%;
}

.rich-link-card .rich-link-card-title {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 0 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
}

.rich-link-card .rich-link-card-description {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rich-link-card .rich-link-href {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  color: grey;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}